img{
    height: 250px;
    width: 250px;
    margin-left: 585px;
    margin-right: 50px;
    background-color: blue;
    margin-top: 100px;

}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background: black;
    color: white;

}
div{
    margin-left: 610px;
    display: flex;
}